$important: #FF8484;

$text: #3F3F3F;
$placeholder: #B4B4B4;
$label: #49485E;

$btn-disabled: #EEEEEE;
$btn-success: #7BAE73;

$substrate-fon: #FFFEFB;

$substrate-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
$input-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
